@import url(reset.css);
body{
    color: white;
    text-align: center;
    background-image: url(../asset/NETWORK\ img\ by\ PIXABAY.jpg) ;
    background-size: cover;
}
table {
    background-color: #3D5467;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse; 
}
th, td {
    border: 1px solid darkgray;
    padding: 15px;
}
li{
    background-color: #3D5467;
    border-radius: 60%;
    width: 6%;
}
fieldset{
    margin: 0 auto;
    background-color: #3D5467;
    width: 30%;
}
