@import url(reset.css);
body{
    color: white;
    text-align: center;
    background-image: url(../asset/NETWORK\ img\ by\ PIXABAY.jpg) ;
    background-size: cover;
}
table {
    background-color: black;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse; /* Pour un affichage plus propre des bordures */
}
th, td {
    border: 1px solid black;
    padding: 15px;
}
.deconnex{
    justify-content: end;
}

